<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <a href="/error/cause-error" title="Trigger a 500 error intentionally">Cause Error</a>
  <p class="copyright">& copy ; <%= year %>, CSE 340 App</p>
</footer>