<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">New Motors</a>
  </span>

  <div id="tools">
    <% if (loggedIn) { %> <!-- Check if user is logged in -->
      <a href="/account/logout" title="Click to log out">Logout</a>
    <% } else { %> <!-- If not logged in, show login link -->
      <a href="/account/login" title="Click to log in">My Account</a>
    <% } %>
  </div>
</header>
