
<div class="hero">
  <picture class="images">
    <source srcset="/images/vehicles/camaro-tn.jpg" media="(max-width: 400px)">
    <source srcset="/images/vehicles/camaro.jpg" media="(max-width: 960px)">
    <img src="/images/vehicles/camaro.jpg" alt="Camaro vehicle">
  </picture>
  <div class="welcome-msg">
    <h1>Welcome to CSE Motors</h1>
    <%- messages() %>
  </div>
  <div class="hero-text">
    <div class="intro-msg">
      <h3>Camaro 2SS</h3>
      <ul>
        <li>Automatic Climate Control</li>
        <li>Magnetic Ride Control</li>
        <li>20'' Silver Aluminum Wheels</li>
      </ul>
      <a href="#" class="primary-btn">Own Today</a>
    </div>
  </div>
</div>
<div class="main-grid">
  <div class="reviews">
    <h2>Camaro 2SS Reviews</h2>
    <ul>
      <li>Unmatched Engine Power (4/5).</li>
      <li>Rear-Wheel Drive Dynamics (5/5).</li>
      <li>Comfortable Interior (4/5).</li>
      <li>Safety and Reliability (5/5).</li>
      </ul>
  </div>
  <div>
    <div class="main-update">
      <h2>Camaro 2SS Upgrades</h2>
    </div>
    <div id="upgrade">
      <div class="upgrade-con">
        <figure class="upgrade-item">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Sticker on the bumper">
            <figcaption>Bumper Stickers</figcaption>
        </figure>
      </div>

      <div class="upgrade-con">
        <figure class="upgrade-item">
            <img src="/images/upgrades/flame.jpg" alt="New flame design">
            <figcaption>Flame Decals</figcaption>
        </figure>
      </div>

      <div class="upgrade-con">
        <figure class="upgrade-item">
            <img src="/images/upgrades/flux-cap.png" alt="Flux capacitor for the car">
            <figcaption>Flux Capacitor</figcaption>
        </figure>
      </div>

      <div class="upgrade-con">
        <figure class="upgrade-item">
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub cap">
            <figcaption>Hub Caps</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>