.form-container{
    background-color: white;
    margin-top: -10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login-text{
    padding-bottom: 15px;
    
}

.notice{
    color: rgb(224, 59, 38);
    list-style: none;
    padding: 2px;
}

.login-text, .register-text h1{
    color: black;
}

.form-info{
    border:1px solid gray;
    padding: 8px;
    width: 330px;
    border-radius: 25px;
    box-shadow: 1px 1px 6px #6b6a6a;
}

label{
    display: block;
    padding: 3px;
}

input{
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
    display: block;
    background-color: lightgrey;
    box-shadow: 1px 1px 6px #6b6a6a;
}

.password-requirements{
    display: block;
    padding: 5px;
    border: 1px solid gray;
    font-size: 0.8rem;
    border-radius: 25px;
    margin: 5px;
    box-shadow: 1px 1px 6px #6b6a6a;
}

.password-requirements p{
    font-weight: bold;
}

.password-requirements li{
    list-style: none;
    color: blue;
}

#togglePassword{
    display: block;
    padding: 7px;
    border-radius: 25px;
    width: 200px;
    background-color: lightgrey;
}
#togglePassword:hover{
    background-color: black;
    color: white;
}

.show_password{
    padding: 8px;
}

button{
    display: block;
    padding: 8px;
    border-radius: 25px;
    width: 100px;
    background-color: lightgrey;

}

button:hover{
    background-color: black;
    color: white;
}

.form-info a:hover{
    color: red;
}
 
footer{
    margin-top: -20px;
    padding-top: 20px;
}

 /*management view */
 .management-container,.classification-container, .add-inv-container{
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
 }

 .add-class{
    padding: 10px;
 }
.add-class button{
    display: block;
    padding: 8px;
    border-radius: 25px;
    width: 200px;
    background-color: lightgrey;
}
.add-class button:hover{
    background-color: black;
    color: white;
}

.management-container a{
    display: block;
    padding: 5px;
    color: blue;
    font-size: bold;
    text-align: left;
}

.management-container a:hover{
   color: red;
   font-size: 1.2rem;
}

.management-container{
    padding: 10px;
    text-align: center;
}


/* Responsive Design for Small Screens */
@media (max-width: 768px) {
    .form-container{
        background-color: white;
        margin-top: -10px;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .management-container,.classification-container, .add-inv-container{
        background-color: white;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
     }
}